@model IEnumerable<CitasBufete.Models.Cita>

@{
    ViewData["Title"] = "Gestionar Citas";
}

<h1>Gestionar Citas</h1>

<p>
    <a asp-controller="Citas" asp-action="Create">Crear una nueva cita</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Estado
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha_solicitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre_cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especialidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hora)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                <td>
                    @if (DateTime.Today < item.Fecha)
                    {
                        <p>Activa</p>
                    }
                    else
                    {
                        <p>Acudio</p>
                    }
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_solicitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especialidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hora)
            </td>
            <td>
                @if (DateTime.Today < item.Fecha)
                    {
                        <a asp-controller="Citas" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a> 
                    }
                
            </td>
        </tr>
}
    </tbody>
</table>
